{{#if (and page.fileUri (not env.CI))}}
<div class="edit-this-page">
  <a href="{{page.fileUri}}">
    <span class="edit-icon" aria-hidden="true">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.146 2.146a.5.5 0 0 1 .708 0l1 1a.5.5 0 0 1 0 .708l-9.5 9.5a.5.5 0 0 1-.168.11l-3 1a.5.5 0 0 1-.637-.637l1-3a.5.5 0 0 1 .11-.168l9.5-9.5zM11.207 3.5 12.5 4.793 13.793 3.5 12.5 2.207 11.207 3.5zm1.086 1.086-9.5 9.5-.708-.708 9.5-9.5.708.708z"/>
      </svg>
    </span>
    Edit this Page
  </a>
</div>
{{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
<div class="edit-this-page">
  <a href="{{page.editUrl}}">
    <span class="edit-icon" aria-hidden="true">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.146 2.146a.5.5 0 0 1 .708 0l1 1a.5.5 0 0 1 0 .708l-9.5 9.5a.5.5 0 0 1-.168.11l-3 1a.5.5 0 0 1-.637-.637l1-3a.5.5 0 0 1 .11-.168l9.5-9.5zM11.207 3.5 12.5 4.793 13.793 3.5 12.5 2.207 11.207 3.5zm1.086 1.086-9.5 9.5-.708-.708 9.5-9.5.708.708z"/>
      </svg>
    </span>
    Edit this Page
  </a>
</div>
{{/if}}
