<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Contents'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu"></div>
   {{> edit-this-page}}
   <a class="button is-primary" target="_blank"
                href="https://github.com/COCONUT-Compter-Club/bluebook">Github</a> --}}
</aside>
